# Data Science Tools and Ecosystem

## Author
Ugo

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Format tables correctly
- Display simple arithmetic outputs

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. numpy
3. scipy

| Data Science Tools |
| ------------------ |
| Jupyter |
| Google Collab |
| VsCode |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [3]:
(200/60)
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335